gulp*.orig
*.log
*.DS_Store
wp-config.php
error_log
readme.html
wp-config-online.php
license.txt
sass.cache/
.htaccess
searchreplacedb2.php
Search-Replace-DB-master/
.sass-cache/
node_modules/
deploy-content.zip
deploy-content.zip.tmp
gulpfile.js
Projeto/PSD/
Projeto/
wp-content/cache/
staging/
.valetphprc
blog/
old/
amazon-api/amazon-request.php
amazon-api/amazon-request.php
amazon-api/vendor/
amazon-api/request-apis.php
produtos-inserir/processados/*/*_files/