* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color: #232F3D;
}

.opacity {

  opacity: 0.2;
  cursor: not-allowed;
}

.opacity .button-load {

  cursor: not-allowed;
}

.button-load {

  border: 1px solid #333;
  padding: 10px;
  background-color: #ff9800;
  height: 33px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all ease-in 0.2s;
}

.tabs li .name em {
  position: absolute;
  top: -9px;
  width: 18px;
  height: 18px;
  background-color: #009688;
  right: -49px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: bold;
}



.loading {
  position: relative;
}

.loading.show:before {

  content: "";
  background-image: url(../images/icon-loading.svg);
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #131921;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px;
  border: 1px solid #FF9401;
}

h1 {

  color: #fff;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
}

h1 span {

  color: #ffa724;
  font-weight: inherit;
}

.button-load:hover {
  background-color: #cd7a00;
}
.no-content {
  background-color: #ffe1df;
  border: 1px solid #F44336;
}
.field-input {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}
label {
    width: 100%;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.center {
    margin: 0 auto;
    width: 90%;
}


.wordpress input,
.wordpress textarea,
.wordpress select {

    background-color: #fff;
}

input,
textarea,
select {
    width: 100%;
    border: 1px solid transparent;
    padding: 5px;
    background-color: #575757;
}
input:focus,
textarea:focus {
    border: 1px solid #ff9800;
    outline: 1px solid #ff9800;
}
textarea {
    height: 60px;
}
img {
    max-width: 100%;
    height: auto;
}
.flex {

    display: flex;
    gap: 20px;
    align-items: center;
    position: relative;
    justify-content: center;
}

.group-tabs {

  background-color: #111823;
  padding: 20px 30px;
  border: 1px solid #FF9800;
  margin-bottom: 20px;
}

.title-box {
    position: absolute;
    left: 10px;
    top: -10px;
    background-color: #673ab7;
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
}
.container {

    padding-top: 20px;
    padding-bottom: 20px;
}

@keyframes bang {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.hoverme {
  width: 240px;
  margin: 150px auto 0;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
}
.hoverme span {
  color: #333;
  font-size: 0.9em;
}
.hoverme i {
  position: absolute;
  display: block;
  left: 50%;
  top: 0;
  width: 3px;
  height: 8px;
  background: red;
  opacity: 0;
}

.logo {

    width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-amazon.loading-preenchido {

  background-color: #fff;
}

.wordpress {

    background-color: #131921;
    padding: 25px 15px 10px;
    border: 1px solid #EAEDED;
    margin-bottom: 20px;
}

.tabs li {

    list-style: none;
    border-left: 1px solid #ff9800;
    border-top: 1px solid #ff9800;
    border-right: 1px solid #ff9800;
    border-bottom: 1px solid transparent;
    padding: 7px 10px;
    background-color: #111823;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    width: 100%;
}

.tabs li .name {

    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: relative;
}

.tabs li.active .name {

    color: #fff;
}

.tabs li.active {

    color: #fff;
    border: 1px solid transparent;
    background-color: #ff9800;
}

.tabs li.active .icon {

    background-image: url("../images/icon-1-white.svg");
}

.tabs li.success {

    background-color: #FF5722;
    border: none;
}

.tabs li.success .name {

    color: #fff;
}

.tabs li .icon {

    width: 15px;
    height: 15px;
    display: inline-block;
    background: url("../images/icon-1-white.svg");
    background-size: 100%;
}

.tabs li.success .icon {

    background-image: url("../images/icon-check.svg");
}

.tabs {

    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    position: relative;
    z-index: 1;
    top: 1px;
}

.tab {

    display: none;
}

.tab.active {

    display: block;
}

.button-send {

    background-color: #FF5722;
    border: none;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    color: #fff;
    height: 33px;
    cursor: pointer;
    width: 190px;
}



.button-send.hide,
.button-send.ok,
.button-send.start.hide {
  display: none;
}

.button-send.ok.show {
  display: flex;
}

.button-send .icon {

    width: 20px;
    height: 20px;
    background-image: url("../images/icon-send.svg");
    background-size: 100%;
    display: block;
}

.button-send.sending {

    background-color: #702c17;
}

.button-send.ok {

    background-color: #4CAF50;
}

.button-send.ok .icon {

    background-image: url("../images/icon-success.svg");
}

.button-send.ok.wait {

  background-color: #795548;
}

.button-send.ok.wait .icon {

    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
}


.button-send.ok.completed {

  background-color: #673ab7;
}


.button-send.ok.completed .icon {

  background-image: url(../images/icon-completed.svg);
}

.button-send.sending .icon {

    background-image: url("../images/icon-sending.svg");
}